<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Load common head content-->
    {% include "./partials/head.html" ignore missing with context %}
    <title>Advice</title>
</head>
<body>
    <!--Load navbar-->
    {% include "./partials/nav.html" ignore missing with context %}
    <h1>
        Advice
    </h1>
    <div class="alert alert-info" role="alert">
        <p>{{ data.slip.advice }}</p>
    </div>
    <!--Load common JS and CSS-->
    {% include "./partials/dependencies.html" ignore missing with context %}
</body>
</html>