<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Load common head content-->
    {% include "./partials/head.html" ignore missing with context %}
    <title>Index</title>
</head>
<body>
    <!--Load navbar-->
    {% include "./partials/nav.html" ignore missing with context %}

    <h1>
        Dynamic Content
    </h1>
    <div class="timeBlock">
        <h3>Server Time:</h3>
        <h4 id="serverTime">{{serverTime}}</h4>
    </div>

    <div class="timeBlock">
        <h3>Browser Time: </h3>
        <h4 id="browserTime"></h4>
    </div>
    <!--  <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a varius nulla. Nam porta arcu viverra, sagittis tellus sit amet, venenatis purus. Nunc congue semper est, id egestas felis dapibus nec. Donec lobortis libero non mi hendrerit efficitur. Proin aliquet dui et nisl semper varius. In mollis sem eget eros tempor elementum. Proin tellus mauris, ultricies in gravida nec, auctor non metus. In sit amet pretium nisi, vel auctor metus. Fusce fringilla purus sem, vel tincidunt turpis egestas eu. Duis at odio metus. Donec sed quam vel urna commodo auctor. Fusce vitae viverra nisi, ac lobortis leo. Pellentesque eget justo a dui euismod placerat.
    </p>  -->

    <!--Load common JS and CSS-->
    {% include "./partials/dependencies.html" ignore missing with context %}
    <script src="static/js/browserTime.js"></script>
</body>
</html>